In [1]:
#Find the title, authors and the isbn of the books that ‘John Smith’ has checked out

In [2]:
import sqlite3
import pandas as pd

In [3]:
#Connect to the database
conn = sqlite3.connect('LibraryDatabase.db')
cursor = conn.cursor()

In [4]:
#find the books checked out by John Smith
query1 = '''
SELECT Books.title, Books.author, Books.isbn
FROM Books
JOIN Checkouts ON Books.id = Checkouts.book_id
JOIN Users ON Checkouts.user_id = Users.id
WHERE Users.full_name = 'John Smith'
'''

cursor.execute(query1)
results1 = cursor.fetchall()

print("Books checked out by John Smith:")
for row in results1:
    print(row)

Books checked out by John Smith:
('My First SQL book', 'Mary Parker', '98148302127')
('My Second SQL book', 'John Mayer', '857300923713')

In [5]:
#find the books checked out by John Smith using Pandas

In [6]:
#Load data into pandas DataFrames
books_df = pd.read_sql_query("SELECT * FROM Books", conn)
checkouts_df = pd.read_sql_query("SELECT * FROM Checkouts", conn)
users_df = pd.read_sql_query("SELECT * FROM Users", conn)

#Merge DataFrames to find books checked out by John Smith
merged_df = pd.merge(pd.merge(books_df, checkouts_df, left_on='id', right_on='book_id'), users_df, left_on='user_id', right_on='id')
john_smith_books_df = merged_df[merged_df['full_name'] == 'John Smith'][['title', 'author', 'isbn']]

print("Books checked out by John Smith:")
print(john_smith_books_df)

Books checked out by John Smith:
                title       author          isbn
0   My First SQL book  Mary Parker   98148302127
1  My Second SQL book   John Mayer  857300923713

In [7]:
#Find all reviewers for the book “My Third SQL book”

In [8]:
#find reviewers of "My Third SQL book"
query2 = '''
SELECT Reviews.reviewer_name
FROM Reviews
JOIN Books ON Reviews.book_id = Books.id
WHERE Books.title = 'My Third SQL book'
'''

cursor.execute(query2)
results2 = cursor.fetchall()

print("Reviewers of 'My Third SQL book':")
for row in results2:
    print(row)

Reviewers of 'My Third SQL book':

In [9]:
#Using Pandas
#Load data into pandas df
reviews_df = pd.read_sql_query("SELECT * FROM Reviews", conn)
books_df = pd.read_sql_query("SELECT * FROM Books", conn)

#Merge dfs to find reviewers of "My Third SQL book"
merged_df = pd.merge(reviews_df, books_df, left_on='book_id', right_on='id')
reviewers_df = merged_df[merged_df['title'] == 'My Third SQL book'][['reviewer_name']]

print("Reviewers of 'My Third SQL book':")
print(reviewers_df)

Reviewers of 'My Third SQL book':
Empty DataFrame
Columns: [reviewer_name]
Index: []

In [10]:
#Find the users that have no books checked out

In [11]:
#find users with no books checked out
query3 = '''
SELECT Users.full_name
FROM Users
LEFT JOIN Checkouts ON Users.id = Checkouts.user_id
WHERE Checkouts.user_id IS NULL
'''

cursor.execute(query3)
results3 = cursor.fetchall()

print("Users with no books checked out:")
for row in results3:
    print(row)

Users with no books checked out:
('Harry Potter',)

In [12]:
#Using Pandas
#Load data into pandas dfs
users_df = pd.read_sql_query("SELECT * FROM Users", conn)
checkouts_df = pd.read_sql_query("SELECT * FROM Checkouts", conn)

#Merge dfs to find users with no books checked out
merged_df = pd.merge(users_df, checkouts_df, left_on='id', right_on='user_id', how='left', indicator=True)
no_books_users_df = merged_df[merged_df['_merge'] == 'left_only'][['full_name']]

print("Users with no books checked out:")
print(no_books_users_df)

Users with no books checked out:
      full_name
4  Harry Potter

In [13]:
#Write a SQL query to show all the records of the logs table

In [14]:
#show all records of the Logs table
query_logs = '''
SELECT * FROM Logs
'''

cursor.execute(query_logs)
logs_results = cursor.fetchall()

print("Logs Table:")
for log in logs_results:
    print(log)

Logs Table:
(1, 5, '2024-07-06 18:41:21')

In [15]:
#Load Logs table into a pandas df
logs_df = pd.read_sql_query("SELECT * FROM Logs", conn)

print("Logs Table:")
print(logs_df)

Logs Table:
   log_id  checkout_id            timestamp
0       1            5  2024-07-06 18:41:21

In [16]:
conn.commit()
conn.close()