In [1]:
import sqlite3
import pandas as pd

In [2]:
#Connect to the SQLite database
conn = sqlite3.connect('LibraryDatabase.db')

In [5]:
#SQL query
query1 = '''
SELECT Books.title, Books.author, Books.isbn
FROM Books
JOIN Checkouts ON Books.id = Checkouts.book_id
JOIN Users ON Checkouts.user_id = Users.id
WHERE Users.full_name = 'John Smith';
'''

In [6]:
#Execute the query and load the results into a pandas DataFrame
results_df1 = pd.read_sql_query(query1, conn)

In [7]:
#Display the DataFrame
print("Books checked out by John Smith:")
print(results_df1)

Books checked out by John Smith:
                title       author          isbn
0   My First SQL book  Mary Parker   98148302127
1  My Second SQL book   John Mayer  857300923713

In [8]:
#Find all reveiwers for the book "My Third SQL book"

In [9]:
#SQL query
query2 = '''
SELECT Reviews.reviewer_name
FROM Reviews
JOIN Books ON Reviews.book_id = Books.id
WHERE Books.title = 'My Third SQL book';
'''

In [10]:
#Execute the query and load the results into a pandas DataFrame
results_df2 = pd.read_sql_query(query2, conn)

In [11]:
#Display the DataFrame
print("Reviewers for 'My Third SQL book':")
print(results_df2)

Reviewers for 'My Third SQL book':
Empty DataFrame
Columns: [reviewer_name]
Index: []

In [12]:
#Find the users that have no books checked out

In [13]:
#SQL query
query3 = '''
SELECT Users.full_name
FROM Users
LEFT JOIN Checkouts ON Users.id = Checkouts.user_id
WHERE Checkouts.id IS NULL;
'''

In [14]:
#Execute the query and load the results into a pandas DataFrame
results_df3 = pd.read_sql_query(query3, conn)

In [15]:
#Display the DataFrame
print("Users with no books checked out:")
print(results_df3)

Users with no books checked out:
      full_name
0  Harry Potter

In [20]:
#Show logs table

In [21]:
#SQL query
query_logs = '''
SELECT * FROM Logs;
'''

In [22]:
#Execute the query and load the results into a pandas DataFrame
logs_df = pd.read_sql_query(query_logs, conn)

In [23]:
#Display the DataFrame
print("Logs Table:")
print(logs_df)

Logs Table:
   log_id  checkout_id            timestamp
0       1            5  2024-07-07 20:27:38