In [13]:
import sqlite3
import pandas as pd

In [14]:
#Connect to database
conn = sqlite3.connect('LibraryDatabase.db')
cursor = conn.cursor()

In [3]:
#Creating logs table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Logs (
        log_id INTEGER PRIMARY KEY AUTOINCREMENT,
        checkout_id INTEGER,
        timestamp DATETIME DEFAULT CURRENT_TIMESTAMP
    )
''')

In [4]:
#Create a trigger
cursor.execute('''
    CREATE TRIGGER IF NOT EXISTS LogCheckout
    AFTER INSERT ON Checkouts
    FOR EACH ROW
    BEGIN
        INSERT INTO Logs (checkout_id) VALUES (NEW.id);
    END;
''')

In [5]:
#Testing the trigger

In [6]:
#Inserting a new checkout record
cursor.execute('''
INSERT INTO Checkouts (id, user_id, book_id, checkout_date, return_date)
VALUES (5, 2, 1, '2024-07-05', '2024-07-06')
''')

In [7]:
#verify the log
logs_query = '''
SELECT * FROM Logs
'''

In [8]:
cursor.execute(logs_query)
logs_results = cursor.fetchall()

for log in logs_results:
    print(log)

(1, 5, '2024-07-06 18:12:08')

In [9]:
#Now lets check the two tables

In [15]:
#view the Checkouts table
view_checkouts_query = '''
SELECT * FROM Checkouts
'''

cursor.execute(view_checkouts_query)
checkouts_results = cursor.fetchall()

print("\nCheckouts Table:")
for checkout in checkouts_results:
    print(checkout)

Checkouts Table:
(1, 1, 1, '2017-10-15 14:43:18.095143-07', None)
(2, 1, 2, '2017-10-05 16:22:44.593188-07', '2017-10-13 13:05:12.673382-05')
(3, 2, 2, '2017-10-15 11:11:24.994973-07', '2017-10-22 17:47:10.407569-07')
(4, 5, 3, '2017-10-15 09:27:07.215217-07', None)
(5, 2, 1, '2024-07-05', '2024-07-06')

In [16]:
#view the Logs table
view_logs_query = '''
SELECT * FROM Logs
'''

cursor.execute(view_logs_query)
logs_results = cursor.fetchall()

print("Logs Table:")
for log in logs_results:
    print(log)

Logs Table:
(1, 5, '2024-07-06 18:12:08')

In [12]:
conn.commit()
conn.close()