In [1]:
#Using Pandas DataFrame

In [2]:
import sqlite3
import pandas as pd

In [3]:
#Connect to the SQLite database
conn = sqlite3.connect('LibraryDatabase.db')

In [4]:
#find the books checked out by John Smith using Pandas

In [5]:
#Load data into pandas DataFrames
books_df = pd.read_sql_query("SELECT * FROM Books", conn)
checkouts_df = pd.read_sql_query("SELECT * FROM Checkouts", conn)
users_df = pd.read_sql_query("SELECT * FROM Users", conn)

#Merge DataFrames to find books checked out by John Smith
merged_df = pd.merge(pd.merge(books_df, checkouts_df, left_on='id', right_on='book_id'), users_df, left_on='user_id', right_on='id')
john_smith_books_df = merged_df[merged_df['full_name'] == 'John Smith'][['title', 'author', 'isbn']]

print("Books checked out by John Smith:")
print(john_smith_books_df)

Books checked out by John Smith:
                title       author          isbn
0   My First SQL book  Mary Parker   98148302127
1  My Second SQL book   John Mayer  857300923713

In [6]:
#Find all reviewers for the book “My Third SQL book”

In [7]:
#Load data into pandas df
reviews_df = pd.read_sql_query("SELECT * FROM Reviews", conn)
books_df = pd.read_sql_query("SELECT * FROM Books", conn)

#Merge dfs to find reviewers of "My Third SQL book"
merged_df = pd.merge(reviews_df, books_df, left_on='book_id', right_on='id')
reviewers_df = merged_df[merged_df['title'] == 'My Third SQL book'][['reviewer_name']]

print("Reviewers of 'My Third SQL book':")
print(reviewers_df)

Reviewers of 'My Third SQL book':
Empty DataFrame
Columns: [reviewer_name]
Index: []

In [8]:
#Find the users that have no books checked out

In [9]:
#Load data into pandas dfs
users_df = pd.read_sql_query("SELECT * FROM Users", conn)
checkouts_df = pd.read_sql_query("SELECT * FROM Checkouts", conn)

#Merge dfs to find users with no books checked out
merged_df = pd.merge(users_df, checkouts_df, left_on='id', right_on='user_id', how='left', indicator=True)
no_books_users_df = merged_df[merged_df['_merge'] == 'left_only'][['full_name']]

print("Users with no books checked out:")
print(no_books_users_df)

Users with no books checked out:
      full_name
4  Harry Potter

In [10]:
#Write a SQL query to show all the records of the logs table

In [11]:
#Load Logs table into a pandas df
logs_df = pd.read_sql_query("SELECT * FROM Logs", conn)

print("Logs Table:")
print(logs_df)

Logs Table:
   log_id  checkout_id            timestamp
0       1            5  2024-07-07 20:27:38